.select2-selection__placeholder,
.select2-selection__rendered {
    margin-left: 5px;
}


#template_name .select2-selection .select2-selection--single {
    height: 52px;
}
/*
i.fa-file-o {
    height: 52px;
    line-height: 2.5;
}*/
.bg-danger, .badge-danger{
    color: #fff;
}
span.tooltipIcon {
    top: 1px;
    left: 20px;
}
.edit-icon{
    background-color: #d0d0d0 !important;
    color: #333
}