i.fa.fa-plus-circle.pull-right {
  cursor: pointer;
}
.table-bordered > tbody > tr > th,
.table-bordered > thead > tr > th,
.table-bordered > tfoot > tr > th {
  border-color: #ccc;
}
.invoicesssss .btn-primary {
  font-size: 16px;
  overflow: hidden;
}
.invoicesssss .btn-primary span {
  display: block;
  float: left;
}
.invoicesssss .btn-primary .fa {
  float: right;
}
.dashboard_widgets .card {
  min-height: 180px;
}

.table-responsive {
    max-height: 300px;
    height: 300px;
}