.team-members li img {
    width: 50px !important;
    border-radius: 50% !important;
}

.deputy-team-members li img {
    width: 40px !important;
    border-radius: 50% !important;
}

.deputy-team-members,
.members li {
    list-style: none;
}

.members li img {
    width: 30px !important;
    border-radius: 50% !important;
}

.inner_head {
    width: 100%;
    background: #00baf6;
    color: white;
    padding: 10px;
    text-align: center;
}


.dd_img {
    display: inline-block;
    width: 40px;
    border-radius: 50%;
}